<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Foodyar | Your Partner in Food Market</title>
    <meta name="description" content="Food Market" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:description" content="Foodyar - Food Market" />
    <meta property="og:type" content="Food Market" />
    <meta property="og:url" content="https://foodyar.com" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="images/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/app.minify.css" />
    <link rel="icon" href="images/favicon.ico" />

    <meta name="theme-color" content="#000" />
  </head>

  <body>
    <!-- START: Header -->
    <div class="container mx-auto py-4">
      <div class="flex flex-col lg:flex-row">
        <div
          class="
            flex
            items-center
            justify-between
            px-4
            py-2
            lg:py-0
            border-b
            lg:border-b-0
          "
        >
          <div>
            <a href="#" class="">
              <img
                src="images/design/foodyar-logo.svg"
                alt="Foodyar - Food marketplace"
              />
            </a>
          </div>
          <div>
            <button class="focus:outline-none text-black block lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16m-7 6h7"
                />
              </svg>
            </button>
          </div>
        </div>

        <div
          class="
            flex flex-col
            lg:flex-row
            justify-end
            w-full
            py-4
            lg:py-0
            invisible
            md:visible
          "
        >
          <div class="flex flex-col lg:flex-row">
            <a
              href="#"
              class="
                block
                px-4
                py-2
                lg:py-3
                font-semibold
                text-black
                hover:text-gray-400
              "
              >Home</a
            >
            <a
              href="#"
              class="block px-4 py-2 lg:py-3 text-black hover:text-gray-400"
              >Beverages</a
            >
            <a
              href="#"
              class="block px-4 py-2 lg:py-3 text-black hover:text-gray-400"
              >Chef</a
            >
            <a
              href="#"
              class="block px-4 py-2 lg:py-3 text-black hover:text-gray-400"
              >Ingredient</a
            >
            <a
              href="#"
              class="block px-4 py-2 lg:py-3 text-black hover:text-gray-400"
              >About</a
            >
          </div>
          <div class="flex flex-col lg:flex-row">
            <button
              class="
                lg:h-full lg:w-24
                bg-blue-500
                hover:bg-blue-700
                text-black
                rounded-tl-3xl rounded-tr-3xl rounded-bl-xl rounded-br-xl
                shadow-lg
                block
                px-4
                py-2
                mx-2
                my-2
                lg:my-0 lg:py-3
                border border-black
              "
            >
              Sign In
            </button>
            <button
              class="
                lg:h-full lg:w-24
                bg-green-500
                hover:bg-green-700
                text-black
                rounded-tl-3xl rounded-tr-3xl rounded-bl-xl rounded-br-xl
                shadow-lg
                block
                px-4
                py-2
                mx-2
                my-2
                lg:my-0 lg:py-3
                border border-black
              "
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Header -->

    <!-- START : Section Hero -->
    <section class="flex items-center hero">
      <!-- START: Left side Hero -->
      <div
        class="
          w-full
          absolute
          z-20
          inset-0
          md:relative md:w-1/2
          text-center
          flex flex-col
          justify-center
          hero-caption
          mt-0
          lg:mt-20
        "
      >
        <h1 class="text-3xl md:text-5xl leading-tight font-semibold">
          Eat What You Cook<br class="" />With Us Together!
        </h1>
        <h2 class="px-8 text-base md:px-0 md:text-lg my-6 tracking-wide">
          When you eat something that cooked by
          <br class="hidden lg:block" />
          yourself, the happiness is priceless.
        </h2>
        <div>
          <a
            href="#watch-now"
            class="
              bg-yellow-400
              text-black
              hover:bg-black hover:text-yellow-400
              rounded-tl-3xl rounded-tr-3xl rounded-bl-xl rounded-br-xl
              shadow-lg
              px-8
              py-3
              mt-4
              inline-block
              flex-none
              transition
              duration-200
            "
          >
            Decide a Menu
          </a>
        </div>
      </div>
      <!-- END: Left side Hero -->

      <!-- START: Right side Hero -->
      <div class="w-full inset-0 md:relative md:w-1/2 mt-6 lg:mt-20">
        <div class="relative hero-image">
          <div class="overlay inset-0 z-10"></div>
          <div class="overlay right-0 bottom-0 md:inset-0">
            <button
              class="video hero-cta focus:outline-none z-30 modal-trigger"
              data-content='<div class="w-screen pb-56 md:w-88 relative z-50">
                <div class="absolute w-full h-full">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/a9JMc_v9-u8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>'
            ></button>
          </div>
          <img
            class="absolute inset-0 md:relative object-cover object-center"
            src="images/content/image-hero.png"
            alt="Best food tutorial"
          />
        </div>
      </div>
      <!-- END: Right side Hero -->
    </section>
    <!-- END : Section Hero -->

    <!-- START: Special to try -->
    <section class="flex py-16 px-4" id="special-to-try">
      <div class="container mx-auto">
        <div class="flex flex-start mb-2 mt-8 items-center justify-center">
          <h2 class="text-lg text-gray-400">Watch now</h2>
        </div>
        <div class="flex flex-start mb-4 mt-0 items-center justify-center">
          <h1 class="text-2xl text-black font-semibold">Special to Try</h1>
        </div>
        <div
          class="
            flex flex-col
            lg:flex-row
            justify-center
            w-full
            py-4
            lg:py-0
            invisible
            md:visible
          "
        >
          <div class="flex flex-col lg:flex-row">
            <a
              href="#"
              class="
                block
                px-4
                py-2
                lg:py-3
                font-semibold
                text-yellow-400
                hover:text-gray-400
              "
              >Healthy Food</a
            >
            <a
              href="#"
              class="block px-4 py-2 lg:py-3 text-black hover:text-gray-400"
              >Lunch</a
            >
            <a
              href="#"
              class="block px-4 py-2 lg:py-3 text-black hover:text-gray-400"
              >Vege Desert</a
            >
            <a
              href="#"
              class="block px-4 py-2 lg:py-3 text-black hover:text-gray-400"
              >Shake</a
            >
          </div>
        </div>
        <div class="flex flex-row relative mt-12">
          <!-- START: Special try 1 -->
          <div class="px-4 relative card group">
            <div
              class="
                overflow-hidden
                card-shadow
                relative
                bg-gray-300
                rounded-bg-1
              "
              style="width: 287px; height: 300px"
            >
              <div
                class="
                  overflow-hidden
                  card-shadow
                  relative
                  bg-yellow-200
                  mr-1.5
                  rounded-bg-2
                "
              >
                <div
                  class="
                    absolute
                    opacity-0
                    group-hover:opacity-100
                    transition
                    duration-200
                    flex
                    items-center
                    justify-center
                    w-full
                    h-full
                    bg-black bg-opacity-25
                  "
                >
                  <div
                    class="
                      bg-white
                      text-black
                      rounded-full
                      w-16-h-16
                      flex
                      items-center
                      justify-center
                    "
                  >
                    <svg
                      width="70"
                      height="70"
                      viewBox="0 0 70 70"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="35" cy="35" r="35" fill="#FBE0DC" />
                      <path
                        d="M46.5 30.6699C49.8333 32.5944 49.8333 37.4056 46.5 39.3301L33 47.1244C29.6667 49.0489 25.5 46.6432 25.5 42.7942L25.5 27.2058C25.5 23.3568 29.6667 20.9511 33 22.8756L46.5 30.6699Z"
                        fill="white"
                      />
                    </svg>
                  </div>
                </div>
                <img
                  src="./images/content/special-1.png"
                  class="w-full h-full object-cover object-center mt-2.5 ml-2.5"
                  style="width: 271px; height: 285px"
                  alt=""
                  id="card-picture"
                />
              </div>
            </div>
            <h5
              class="
                text-lg
                font-semibold
                mt-4
                flex
                items-center
                justify-center
              "
            >
              Salad Kiwi Sugga
            </h5>
            <span class="text-gray-300 flex items-center justify-center"
              >Amir Samantha</span
            >
            <div class="flex flex-row items-center justify-center mt-2">
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
            </div>
            <a href="#" class="stretched-link">
              <!-- fake children -->
            </a>
          </div>
          <!-- END: Special try 1 -->

          <!-- START: Special try 2 -->
          <div class="px-4 relative card group">
            <div
              class="
                overflow-hidden
                card-shadow
                relative
                bg-gray-300
                rounded-bg-1
              "
              style="width: 287px; height: 300px"
            >
              <div
                class="
                  overflow-hidden
                  card-shadow
                  relative
                  bg-yellow-200
                  mr-1.5
                  rounded-bg-2
                "
              >
                <div
                  class="
                    absolute
                    opacity-0
                    group-hover:opacity-100
                    transition
                    duration-200
                    flex
                    items-center
                    justify-center
                    w-full
                    h-full
                    bg-black bg-opacity-25
                  "
                >
                  <div
                    class="
                      bg-white
                      text-black
                      rounded-full
                      w-16-h-16
                      flex
                      items-center
                      justify-center
                    "
                  >
                    <svg
                      width="70"
                      height="70"
                      viewBox="0 0 70 70"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="35" cy="35" r="35" fill="#FBE0DC" />
                      <path
                        d="M46.5 30.6699C49.8333 32.5944 49.8333 37.4056 46.5 39.3301L33 47.1244C29.6667 49.0489 25.5 46.6432 25.5 42.7942L25.5 27.2058C25.5 23.3568 29.6667 20.9511 33 22.8756L46.5 30.6699Z"
                        fill="white"
                      />
                    </svg>
                  </div>
                </div>
                <img
                  src="./images/content/special-2.png"
                  class="w-full h-full object-cover object-center mt-2.5 ml-2.5"
                  style="width: 271px; height: 285px"
                  alt=""
                  id="card-picture"
                />
              </div>
            </div>
            <h5
              class="
                text-lg
                font-semibold
                mt-4
                flex
                items-center
                justify-center
              "
            >
              Avocado Muscle
            </h5>
            <span class="text-gray-300 flex items-center justify-center"
              >John Lennonk</span
            >
            <div class="flex flex-row items-center justify-center mt-2">
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
            </div>
            <a href="#" class="stretched-link">
              <!-- fake children -->
            </a>
          </div>
          <!-- END: Special try 2 -->

          <!-- START: Special try 3 -->
          <div class="px-4 relative card group">
            <div
              class="
                overflow-hidden
                card-shadow
                relative
                bg-gray-300
                rounded-bg-1
              "
              style="width: 287px; height: 300px"
            >
              <div
                class="
                  overflow-hidden
                  card-shadow
                  relative
                  bg-yellow-200
                  mr-1.5
                  rounded-bg-2
                "
              >
                <div
                  class="
                    absolute
                    opacity-0
                    group-hover:opacity-100
                    transition
                    duration-200
                    flex
                    items-center
                    justify-center
                    w-full
                    h-full
                    bg-black bg-opacity-25
                  "
                >
                  <div
                    class="
                      bg-white
                      text-black
                      rounded-full
                      w-16-h-16
                      flex
                      items-center
                      justify-center
                    "
                  >
                    <svg
                      width="70"
                      height="70"
                      viewBox="0 0 70 70"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="35" cy="35" r="35" fill="#FBE0DC" />
                      <path
                        d="M46.5 30.6699C49.8333 32.5944 49.8333 37.4056 46.5 39.3301L33 47.1244C29.6667 49.0489 25.5 46.6432 25.5 42.7942L25.5 27.2058C25.5 23.3568 29.6667 20.9511 33 22.8756L46.5 30.6699Z"
                        fill="white"
                      />
                    </svg>
                  </div>
                </div>
                <img
                  src="./images/content/special-3.png"
                  class="w-full h-full object-cover object-center mt-2.5 ml-2.5"
                  style="width: 271px; height: 285px"
                  alt=""
                  id="card-picture"
                />
              </div>
            </div>
            <h5
              class="
                text-lg
                font-semibold
                mt-4
                flex
                items-center
                justify-center
              "
            >
              Bayam Red Poppeye
            </h5>
            <span class="text-gray-300 flex items-center justify-center"
              >Toekang Sayoer</span
            >
            <div class="flex flex-row items-center justify-center mt-2">
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
            </div>
            <a href="#" class="stretched-link">
              <!-- fake children -->
            </a>
          </div>
          <!-- END: Special try 3 -->

          <!-- START: Special try 4 -->
          <div class="px-4 relative card group">
            <div
              class="
                overflow-hidden
                card-shadow
                relative
                bg-gray-300
                rounded-bg-1
              "
              style="width: 287px; height: 300px"
            >
              <div
                class="
                  overflow-hidden
                  card-shadow
                  relative
                  bg-yellow-200
                  mr-1.5
                  rounded-bg-2
                "
              >
                <div
                  class="
                    absolute
                    opacity-0
                    group-hover:opacity-100
                    transition
                    duration-200
                    flex
                    items-center
                    justify-center
                    w-full
                    h-full
                    bg-black bg-opacity-25
                  "
                >
                  <div
                    class="
                      bg-white
                      text-black
                      rounded-full
                      w-16-h-16
                      flex
                      items-center
                      justify-center
                    "
                  >
                    <svg
                      width="70"
                      height="70"
                      viewBox="0 0 70 70"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle cx="35" cy="35" r="35" fill="#FBE0DC" />
                      <path
                        d="M46.5 30.6699C49.8333 32.5944 49.8333 37.4056 46.5 39.3301L33 47.1244C29.6667 49.0489 25.5 46.6432 25.5 42.7942L25.5 27.2058C25.5 23.3568 29.6667 20.9511 33 22.8756L46.5 30.6699Z"
                        fill="white"
                      />
                    </svg>
                  </div>
                </div>
                <img
                  src="./images/content/special-4.png"
                  class="w-full h-full object-cover object-center mt-2.5 ml-2.5"
                  style="width: 271px; height: 285px"
                  alt=""
                  id="card-picture"
                />
              </div>
            </div>
            <h5
              class="
                text-lg
                font-semibold
                mt-4
                flex
                items-center
                justify-center
              "
            >
              Naga Fruity Joss
            </h5>
            <span class="text-gray-300 flex items-center justify-center"
              >Imelda Saraghae</span
            >
            <div class="flex flex-row items-center justify-center mt-2">
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
              <img src="./images/design/icon-star.svg" alt="" />
            </div>
            <a href="#" class="stretched-link">
              <!-- fake children -->
            </a>
          </div>
          <!-- END: Special try 4 -->
        </div>
      </div>
    </section>
    <!-- END: Special to try -->

    <!-- START: Testimonial -->
    <section class="flex py-6 px-4">
      <div class="container mx-auto">
        <h1
          class="
            absolute
            text-9xl text-gray-300
            justify-items-start
            font-bold
            pl-80
          "
        >
          "
        </h1>
        <div class="flex flex-start mb-4 mt-0 items-center justify-center">
          <h1 class="text-2xl text-black font-semibold">Testimonial</h1>
        </div>
        <div class="flex flex-start mb-8 pt-6 items-center justify-center">
          <h1 class="text-3xl text-gray-600 text-center">
            "At first I was ashamed of my in-laws
            <br />
            because they couldn't cook, now they prefer
            <br />
            to have dinner at home to eat the food
            <br />
            I make myself"
          </h1>
        </div>
        <div class="flex flex-start mb-4 mt-6 items-center justify-center">
          <div class="flex flex-row justify-items-center">
            <div class="absolute flex rounded-full object-center">
              <img
                src="./images/content/testimonial.jpg"
                alt=""
                class="rounded-full"
              />
            </div>
            <div class="flex flex-col mx-2">
              <div class="text-lg text-left text-black pl-24 mb-1">
                <h1>Camella Sarah</h1>
              </div>
              <div class="text-lg text-left text-gray-400 pl-24">
                <h1>Vega Master</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row pt-52 justify-center">
          <div class="flex flex-col px-10">
            <h1
              class="text-black font-bold flex justify-center"
              style="font-size: 32px"
            >
              180.000+
            </h1>
            <span
              class="text-gray-300 flex justify-center"
              style="font-size: 20px"
              >Menu Food</span
            >
          </div>
          <div class="flex flex-col px-10">
            <h1
              class="text-black font-bold flex justify-center"
              style="font-size: 32px"
            >
              20.000+
            </h1>
            <span
              class="text-gray-300 flex justify-center"
              style="font-size: 20px"
              >Chef</span
            >
          </div>
          <div class="flex flex-col px-10">
            <h1
              class="text-black font-bold flex justify-center"
              style="font-size: 32px"
            >
              400.000+
            </h1>
            <span
              class="text-gray-300 flex justify-center"
              style="font-size: 20px"
              >Course</span
            >
          </div>
          <div class="flex flex-col px-10">
            <h1
              class="text-black font-bold flex justify-center"
              style="font-size: 32px"
            >
              999.999+
            </h1>
            <span
              class="text-gray-300 flex justify-center"
              style="font-size: 20px"
              >Alumni</span
            >
          </div>
        </div>
      </div>
    </section>
    <!-- END: Testimonial -->

    <!-- START: Find Me -->
    <section class="flex pt-6 px-4 my-6 mx-4">
      <div class="container mx-auto">
        <div class="py-8 mx-4">
          <div class="flex flex-row justify-between">
            <!-- START: Left find me -->
            <div id="trapezium">
              <div class="flex card group trapezium-1"></div>
              <div class="flex card group trapezium-2"></div>
              <div
                class="
                  flex
                  card
                  group
                  trapezium-3
                  w-full
                  h-full
                  object-cover object-center
                "
              >
                <img
                  src="./images/content/image-find-me.png"
                  style="border-radius: 85px"
                  alt=""
                />
              </div>
            </div>
            <!-- END: Left find me -->

            <!-- START: Right find me -->
            <div
              class="
                flex flex-col
                justify-center justify-items-center
                py-32
                px-12
              "
            >
              <h1
                class="
                  text-3xl
                  md:text-5xl
                  leading-tight
                  font-semibold
                  justify-start
                "
              >
                Download our app<br class="" />and join the contest
              </h1>
              <span
                class="text-gray-300 flex justify-start pt-6"
                style="font-size: 20px"
                >In order to improve our cooking skills,
                <br />
                we do need a food photography
              </span>
              <div class="flex flex-row pt-8">
                <img src="./images/content/image-app-store.jpg" alt="" />
                <img
                  src="./images/content/image-google-play.jpg"
                  class="pl-6"
                  alt=""
                />
              </div>
            </div>
            <!-- END: Right find me -->
          </div>
        </div>
      </div>
    </section>
    <!-- END: Find Me -->

    <!-- START: Aside Menu -->
    <section>
      <div class="border-t border-b border-gray-200 py-12 mt-16 px-4">
        <div class="flex flex-row">
          <div class="flex justify-start ml-8 items-center">
            <img src="./images/design/foodyar-logo.svg" alt="" />
          </div>
          <aside class="container mx-auto">
            <div class="flex flex-wrap -mx-4 justify-center">
              <div class="px-4 w-full md:w-2/12 mb-4 md:mb-0 accordion">
                <h5 class="text-lg font-semibold mb-2 relative">
                  Special Course
                </h5>
                <ul class="h-0 invisible md:h-auto md:visible overflow-hidden">
                  <li>
                    <a href="#" class="hover:underline py-1 block"
                      >Wedding Foods</a
                    >
                  </li>
                  <li>
                    <a href="#" class="hover:underline py-1 block"
                      >Healthy Muscle</a
                    >
                  </li>
                  <li>
                    <a href="#" class="hover:underline py-1 block"
                      >Office Food Day</a
                    >
                  </li>
                  <li>
                    <a href="#" class="hover:underline py-1 block"
                      >Happy Kids</a
                    >
                  </li>
                </ul>
              </div>
              <div class="px-4 w-full md:w-2/12 mb-4 md:mb-0 accordion">
                <h5 class="text-lg font-semibold mb-2 relative">Company</h5>
                <ul class="h-0 invisible md:h-auto md:visible overflow-hidden">
                  <li>
                    <a href="#" class="hover:underline py-1 block"
                      >APIs Developer</a
                    >
                  </li>
                  <li>
                    <a href="#" class="hover:underline py-1 block">Career</a>
                  </li>
                  <li>
                    <a href="#" class="hover:underline py-1 block"
                      >Terms & Condition</a
                    >
                  </li>
                  <li>
                    <a href="#" class="hover:underline py-1 block"
                      >Privacy Policy</a
                    >
                  </li>
                </ul>
              </div>
              <div class="px-4 w-full md:w-2/12 mb-4 md:mb-0 accordion">
                <h5 class="text-lg font-semibold mb-2 relative">
                  Be Our Friend
                </h5>
                <ul class="h-0 invisible md:h-auto md:visible overflow-hidden">
                  <li>
                    <a href="#" class="hover:underline py-1 block"
                      >Jl. Ikan Sulir D7, Banyuwangi, East Java</a
                    >
                  </li>
                  <li>
                    <a href="#" class="hover:underline py-1 block"
                      >support@bbenterprise.com</a
                    >
                  </li>
                  <li>
                    <a href="#" class="hover:underline py-1 block"
                      >081777777777</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>
    <!-- START: Aside Menu -->

    <!-- START: FOOTER -->
    <footer class="flex text-center px-4 py-6 justify-center">
      <p class="text-sm">All Rights Reserved Foodyar from BBEnterprise 2021</p>
    </footer>
    <!-- END: FOOTER -->

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
  </body>
</html>
